/*ESTILOS GENERALES*/
* {box-sizing: border-box;}
#contenedor {
    width: 100%;
    max-width: 960px;
    font-family: 'Arvo', sans-serif;
    margin: 0 auto;
}
body {
    background-image: url(../img/fondo.png);
    background-attachment: fixed;
}
main {
    background-color: #E6F5FF;
}
p {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
aside {
    padding: 0.5rem 0.5rem 0 0;
    background-color: aliceblue;
    margin: 1rem 1rem 0 1rem;
    text-align: center;
}
p:last-of-type {
    padding-bottom: 1rem;
}

header, footer {
    background-color:#002B47 ;
    color: #E6F5FF;
}
/*TIPOGRAFIA*/
h1,h2 {
    text-align: center;
}
h3, h4{
    color: #ffffff;
    background-color: #0099FF ;
    padding: 0.8rem 1.5rem;
    margin: 1.5rem 0 1rem 0;
    margin-right: 0.75rem;
}
h4 {
    font-size: larger;
}
span {
    font-weight: bolder;
    color: #004675;
}
/*NAVEGADOR*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0 0 0;
    display: flex;
}
nav li {
    margin: 0;
}
nav a {
    display: block;
    padding: 0.6em 1.2em;
    color: #004675;
    text-decoration: none;
    font-weight: bold;
    background-color: #47B4FF;
}
a:visited {
    color: white; 
}
a:hover {
    background-color: #E6F5FF;
    color: #004675;
}
a:active {
    background-color: #004675;
    color:#E6F5FF;

}

